.Projects {
  margin-top: 30px;
}

.Projects img {
  height: 350px;
  width: 350px;
}

.Projects img:hover {
  transform: scale(1.1);
  transition: 0.8s ease-in-out;
}

.Projects .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.Projects section {
  background-color: #ffff;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 8px;
}

.Projects .Project-block {
  text-align: start;
  padding-top: 60px;
  padding-right: 40px;
}

.Tools-section {
  margin-bottom: 15px;
}

.Tools-btn {
  border: 1px solid #987da6;
  background-color: #f8f3f7;
  color: #a2a0a1dd;
  border-radius: 15px;
  margin-right: 10px;
  padding: 5px 10px;
}

.Btn-demo {
  background-color: #987da6;
  color: #ffffff;
  padding: 5px 25px;
  border-radius: 18px;
  transition: all 0.2 ease-in-out;
}

.Projects a {
  text-decoration: none;
}

.Projects h4,
h5 {
  color: #312150;
}

.Projects .highlight {
  position: relative;
}

.Projects .highlight:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 8px;
  background: #987da6b0;
  opacity: 0.5;
  bottom: 0px;
}

@media (max-width: 970px) {
  .Projects section {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 25px 20px;
  }

  .Projects .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .Projects .Project-block {
    padding: 0;
    text-align: center;
  }

  .Projects img {
    border-radius: 8px;
  }
}

/*color: #987da69f;
*/
