.Projects {
  margin-top: 30px;
}

.Projects img {
  height: 350px;
  width: 350px;
}

.Projects img:hover {
  transform: scale(1.1);
  transition: 0.8s ease-in-out;
}

.Projects .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.Projects section {
  background-color: #ffff;
  margin: 75px 250px;
  padding: 25px;
  border-radius: 8px;
}

.Projects .Project-block {
  text-align: start;
  padding-top: 100px;
  padding-right: 40px;
}

.Tools-section {
  margin-bottom: 15px;
}

.Tools-btn {
  border: 1px solid #987da6;
  background-color: #f8f3f7;
  color: #a2a0a1dd;
  border-radius: 15px;
  margin-right: 10px;
  padding: 5px 10px;
}

.Btn-demo {
  background-color: #987da6;
  color: #ffffff;
  padding: 5px 25px;
  border-radius: 18px;
  transition: all 0.2 ease-in-out;
}

.Projects a {
  text-decoration: none;
}

.Projects h4,
h5 {
  color: #312150;
}
