.TechSkills {
  margin: 0;
  padding: 40px;
  background-color: #f8f3f7;
}

.TechSkills .grid {
  display: grid;
  margin: 30px;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 40px;
  margin-inline: 200px;
}

.TechSkills img {
  height: 50px;
  width: 50px;
}

.rotating {
  animation: rotating 20s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1400px) {
  .TechSkills .grid {
    margin: 50px;
    margin-inline: 500px;
  }
}

@media (max-width: 890px) {
  .TechSkills .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }

  .TechsSkills img {
    padding: 15px;
  }
}
